<div class="border-2 p-2 rounded-md">
  <h5 class="text-blue-500">
    <%= index + 1 %>. <%= name %>
  </h5>
  <p><span class="font-semibold">username:</span> <%= username %></p>
  <p><span class="font-semibold">email:</span> <%= email %></p>
  <p><span class="font-semibold">phone:</span> <%= phone %></p>
  <p><span class="font-semibold">website:</span> <%= website %></p>
</div>